
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.bg-ricomida {
    background-color: #373a3c;
}

.navbar-brand {
    color: var(--white);
    font-family:lobster;
}

.small-image {
    width: 20%;
    height:auto;
    
}
footer {
    font-family: lobster;
    background-color:#373a3c;
    color: white;
    align-items: center;
}


   
 